*{
	margin: 0px;
	padding: 0px;
	/*overflow: hidden;*/
}
html{
	width: 100%;
	height: 100%;	
}
body{
	background-color: #00ab58;
}
.container{
	margin:0px auto;
}
.jumbotron{
	padding: 0px;
	background-color: transparent;
	z-index: 10;
	position: relative;
	margin-bottom: 0px;
}
.jumbotron>.container{
	margin:0px;
	padding:0px;
	background-color: transparent;
	height:100vh;
	width: 100%;
}
.jumbotron>.container>nav{
	position: fixed;
	width: 100%;
	z-index: 100;
	background-color: #00ab58;
}
.particles{
	height: 100vh;
	width: 100%;
	z-index: 1;
	position: absolute;
	top: 0;
}
.myheader{
	background-color: transparent;
	border: 0px;
}
.logo{
	padding-top: 20px;
}
.logo_img{
	height: 110px;
	width: 200px;
}
.navbar-header>button{
	margin: 30px;
}
.navbar-nav{
	padding: 30px;
}
.navbar-nav li a{
	margin:25px;
}
.navbar-default .navbar-nav>li>a {
    color: white;
    padding: 0px;
    font-family: sans-serif;
    font-size: 18px;
}
.navbar-default .navbar-nav>li>.closeB{
	display: none;
}
.center_div{
	text-align: center;
	color: white;
	vertical-align: middle;
	height: 50vh;
	margin-top: 40vh;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.center_div>h1{
	font-family: 'Caveat', sans-serif;
}
.center_div .btn{
	background-color: white;
	color: #00ab58;
	transition: 0.3s;
}
.center_div .btn:{
	padding: 15px;
}
.pullD{
	padding: 0px;
	/*background-color: white;*/
	margin-top: 30px;
	color: #00ab58;
	font-weight: bolder;
	font-size: 22px;
	border-radius: 50%;
	text-align: center;
}
.pullD>a{
	color: white;
}
.pullD>span{
	margin: 0px auto;
}
.pullD{
	transition: fade-out
}
.whiteBoard{
	background-color: #fff;
	padding-top: 60px;
}
.quote{
	font-size: 26px;
	text-align: center;
	color: #000;
	background-color: white;
	padding: 50px 0px;
	font-weight: bolder;
	padding-top: 60px;
}
.quote p{
	margin:0px;
}
.boxer{
	background-color: transparent;
	height: auto;
	width: 100%;
	padding: 0px;
	margin: 0px auto;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-self: center;
	padding-bottom: 30px;
}
.boxer>.t-btn{
	background-color: white;
}
.b1{
	margin: 0px auto;
	text-align: center;
}
.innerBox{
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-self: center;
	padding: 0px;
	padding-top: 10px;
}
.circ{
	background-color: grey;
	height: 150px;
	width: 150px;
	border-radius: 50%;
	margin: 0px auto;
}
.b1>p>.btn{
	margin-top: 10px;
	/*background-color: rgb(230,230,230);*/
}
.b1>p>a{
	color: #00ab58;
}
.circles{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.c01{
	position: absolute;
	top: 20vh;
	left: 10vh;
	height: 500px;
	width: 500px;
	border-radius: 50%;
	background-color: #00ab58;
}
.c02{
	position: absolute;
	top:30vh;
	left: 90vh;
	height: 300px;
	width: 300px;
	border-radius: 50%;
	background-color: #00ab58;
}
.aboutUs{
	min-height: 100vh;
	padding: 30px;
	background-color: white;
	padding-bottom: 60px; 
	display: inline-flex;
	flex-direction:row;
	justify-content: center;
	align-items: center;
	margin: 0px auto;
}
.aboutUs>.container{
	padding-top: 60px;
	background-color: transparent;
}
.img_about{
	width: 100%;
	height: 100%;
	border:5px solid grey;
}
.about_text{
	text-align: right;
}
.g-lineDiv{
	width: 100%;
	height: 20px;
	margin-bottom: 10px;
}
.g-line{
	float: right;
	border-radius: 100px;
	width: 100px;
	background-color: #00ab58;
	height:7px;
	margin: 0px;
}
.about_text>h2{
	margin-top: 0px;
	margin-bottom: 20px; 
	display: block;
}
.about_text>p{
	font-size: 16px;
	margin-bottom: 20px;
}
.t-btn{
	border-color: black;
	background-color: white;
	color: #00ab58;
	transition: 0.5s;
}
.t-btn:hover{
	background-color: #00ab58;
	color: white;

}
.cUs-banner{
	background-color: rgba(0,171,0,0);
}
.cUs-banner>.container{
	height: 180px;
}
.serv{
	padding: 60px;
	background-color: white;
	padding-bottom: 60px;
	min-height: 100vh;
	display: inline-flex;
	flex-direction:row;
	justify-content: center;
	align-items: center;
	margin: 0px auto;
}
.serv>.container{
	padding-top: 30px;
}
.serv_text{
	text-align: left;
}
.serv-text>.g-lineDiv{
	width: 100%;
	height: 20px;
	margin-bottom: 10px;
}
.serv_text>.g-lineDiv>.g-line{
	float: none;
	border-radius: 100px;
	width: 100px;
	background-color: #00ab58;
	height:7px;
	margin: 0px;
}
.serv_text>h2{
	margin-top: 0px;
	margin-bottom: 20px; 
	display: block;
}
.serv_text>p{
	font-size: 16px;
	margin-bottom: 20px;
}
.foot{
	min-height: 350px;
	background-color: #555;
	color: white;
	column-count: 3;
}


/*===========================
 About Us page styles 
 ==========================*/
.abs{
	background-color: white;
	/*height: 100%;*/
}
/*.logo_img{
	height: 60px;
	width: 100px;
}*/
.min-head{
	width: 100%;
	position: fixed;
	height: auto;
	z-index: 100;
}
.min-head>.container{
	margin:0px auto;
	padding:0px;
	background-color: #00ab58;
	width: 100%;
}
.navbar.myheader{
	transition: 0.3s;
}
.nav.navbar-nav.navbar-right{
	transition: 0.3s;
}
.logo_img{
	transition: 0.3s;
}
.navbar.myheader.rem{
	margin-bottom: 0px;
	transition: 0.5s;
}
.nav.navbar-nav.navbar-right.desc{
	padding: 10px 0px;
	transition: 0.5s;
}
.logo_img.shrink{
	height: 60px;
	width: 100px;
	transition: 0.5s;
}
.abt-full{
	background-color: transparent;
	width: 100%;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin-top: 15vh;
	z-index: 1;
	/*background-image: url(blurr.jpeg);
	background-position: left;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;*/
}
.abt-full>.container{
	/*color: white;*/
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0px auto;]
}
.abt-full>.container>.mState>.mh1{
	text-align: center;
	font-size: 42px;
	/*font-family: 'Ubuntu', sans-serif;*/
	font-family: 'Caveat', cursive;
}
.abt-full>.container>.mState>p{
	font-size: 18px;
	font-family: 'Ubuntu', sans-serif;
	text-align:center;
}
.abt-full>.container>.abt>.mh1{
	text-align: center;
	font-size: 30px;
	font-family: 'Ubuntu', sans-serif;
}
.abt-full>.container>.abt>p{
	font-size: 18px;
	text-align: justify;
	font-family: 'Ubuntu', sans-serif;
	/*column-count: 3;*/
}
.abt-full>.container>.mState{
	margin: 50px auto;
}
.abt-des{
	position: absolute;
	z-index: -1;
	background-color: white;
	height: 100%;
	width: 100%;
	overflow: hidden;
	min-height: 100vh;
	margin-top: 20vh;
}
.d1{
	height: 80vh;
	width: 80vh;
	background-color: #00ab58;
	border-radius: 50%;
	position: fixed;
	right: -10vh;
	top: 30vh;
}
.d2{
	height: 75vh;
	width: 75vh;
	background-color: white;
	border-radius: 50%;
	position: fixed;
	right: -10vh;
	top: 30vh;
	/*background-image: url(blurr.jpeg);
	background-position: unset;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;*/
}

/*=============================
	Services page style
=============================*/
.servicePage{
	/*min-height: 100vh;*/
	background-color: white;
	/*padding: 30px;*/
}
.serv_cards{
	margin-top: 40px;
	background-color: transparent;
	height: auto;
	width: 100%;
	padding: 0px;
}
.serv_cards>.container{
	padding: 0px;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.card{
	height:450px;
	margin:10px;
	background-color: transparent;
	border:3px solid #001111;
}
.cd1{
	/*background-color: salmon;*/
	margin-right: 20px;
}
.cd2{
	/*background-color: cyan;*/
	margin-left: 20px;
}
.servicePage>.abt-des{
	overflow: scroll;
	/*background-color: #fffde7;*/
}
.servicePage>.abt-des>.d1{
	height: 80vh;
	width: 80vh;
	background-color: #00ab58;
	border-radius: 50%;
	position: fixed;
	right: -10vh;
	top: 40vh;
}
.servicePage>.abt-des>.d2{
	height: 75vh;
	width: 75vh;
	background-color: white;
	border-radius: 50%;
	position: fixed;
	right: -10vh;
	top: 40vh;
}
.servicePage>.serv-full>.container{
	padding: 30px;
}


/*=============================
	Careers page style
=============================*/
.c-full{
	padding-top: 15vh;
}
.Obox{
	padding: 0px;
	padding-top: 40px;
	min-height: 100vh;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
}
/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: rgba(0,0,0,0.3);
  color: #001111;
  cursor: pointer;
  padding: 18px;
  /*width: 100%;*/
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  margin: 3px 0px;
  transition: 0.5s;
}
.collapsible:hover{
	background-color: rgba(0,0,0,0.8);
	color: #00ab58;
}
.collapsible:active{
	background-color: rgba(0,0,0,0.8);
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  /*background-color: #ccc;*/
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding:18px;
  display: none;
  overflow: hidden;
  background-color: rgba(0,0,0,0.5);
  text-align: justify;
  font-family: 'Ubuntu', sans-serif;
  color: white;
}
.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #00ab58;
    float: right;
    margin-left: 5px;
}
.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

@media screen and (max-width: 720px){
	body{
		min-height: 100vh;
	}
	#bs-example-navbar-collapse-1{
		height: 100vh;
		border:0px;
		background-color: rgba(0,0,0,1);
		position: absolute;
		top: 0px;
		z-index: 999;
		width: 100%;
		/*display: inline-flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;*/
	}
	.navbar-default .navbar-nav>li{
		text-align: center;
		padding-top: 30px;
	}
	.navbar-header{
		border:0px;
	}
	.center_div{
		margin-top: 40vh;
	}
	.logo_img{
		height: 70px;
		width: 140px;
	}
	.boxer{
		background-color: white;
		height: auto;
		width: 100%;
		padding: 0px;
		margin: 0px auto;
		display: inline-flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		align-self: center;
		margin-top: -20px;
	}
	.b1{
		margin: 20px auto;
	}
	.innerBox{
		display: inline-flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		align-self: center;
		width: 100%;
	}
	.circ{
		height: 100px;
		width: 100px;
		border-radius: 50%;
		margin: 0px auto;
	}
	.aboutUs{
		padding: 10px;
	}
	.aboutUs>.container{
		padding: 0px;
	}
	.g-lineDiv{
		display: none;
	}
	.about_text{
		padding:20px 0px;
		text-align: center;
	}
	.serv{
		padding: 10px;
	}
	.serv>.container{
		padding: 0px;
	}
	.g-lineDiv{
		display: none;
	}
	.serv_text{
		padding:20px 0px;
		text-align: center;
	}
	.navbar-default .navbar-nav>li>.closeB{
		display: block;
	}
	.navbar-default .navbar-nav>li>.closeB{
		text-align: right;
		font-size: 22px;
		font-weight: 100;
		padding-top: 0px;
		margin-top: 0px;
	}
	.navbar-nav{
		padding-top: 0px;
	}
	.pullD{
		display: none;
	}


	.abt-full>.container>{
		height: 100%;
	}
	.abt-des{
		min-height: 100vh;
	}
	#abs{
		background-color: white;
	}
	.d1{
		height: 30vh;
		width: 60vh;
		background-color: #00ab58;
		/*border-radius: 50%;*/
		position: fixed;
		right: -20vh;
		top: 35vh;

	}
	.d2{
		height: 25vh;
		width: 55vh;
		background-color: white;
		/*border-radius: 50%;*/
		position: fixed;
		right: -20vh;
		top: 35vh;
	}
	.myheader{

	}
	.navbar-header>button{
		margin: 15px;
	}
}

@media screen and (max-width: 340px){
	.center_div{
		margin-top: 30vh;
	}
	.navbar-default .navbar-nav>li{
		text-align: center;
		padding-top: 2px;
	}
	.logo_img{
		height: 80px;
		width: 170px;
	}
	.boxer{
		background-color: white;
		height: auto;
		width: 100%;
		padding: 0px;
		margin: 0px auto;
		display: inline-flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		align-self: center;
		margin-top:-20px;
	}
	.b1{
	}
	.innerBox{
		display: inline-flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		align-self: center;
		width: 100%;
	}
	.navbar-nav{
		padding: 20px 5px;
	}
}