*{
	margin: 0px;
	padding: 0px;
	/*overflow: hidden;*/
}
html{
	width: 100%;
	height: 100%;
	overflow-x: hidden;	
	
}
body{
	background-color: #00ab58;
}
p{
	font-family: "Ubuntu", sans-serif;
}
.container{
	margin:0px auto;
}
.myheader{
	-webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}
#particles-js{
	-webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}
.center_div{
	-webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}

#jumbo.load{
	opacity: 1;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
.jumbotron{
	padding: 0px;
	background-color: transparent;
	z-index: 10;
	position: relative;
	margin-bottom: 0px;
}
.jumbotron>.container{
	margin:0px;
	padding:0px;
	background-color: transparent;
	height:100vh;
	width: 100%;
}
.jumbotron>.container>nav{
	position: fixed;
	width: 100%;
	z-index: 100;
	background-color: #00ab58;
}
.particles{
	height: 100vh;
	width: 100%;
	z-index: 1;
	position: absolute;
	top: 0;
}
.myheader{
	background-color: transparent;
	border: 0px;
}
.logo{
	padding-top: 17px;
}
.logo_img{
	height: 110px;
	width: 200px;
}
.navbar-header>button{
	margin: 30px;
}
.navbar-nav{
	padding: 30px;
}
.navbar-nav li a{
	margin:25px;
}
.navbar-default .navbar-nav>li>a {
    color: white;
    padding: 0px;
    font-family: sans-serif;
    font-size: 18px;
}
.navbar-default .navbar-nav>li>.closeB{
	display: none;
}
.center_div{
	text-align: center;
	color: white;
	vertical-align: middle;
	height: 50vh;
	margin-top: 40vh;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.center_div>h1{
	font-family: 'Caveat', sans-serif;
}
.center_div .btn{
	background-color: white;
	color: #00ab58;
	transition: 0.3s;
}
.center_div .btn:{
	padding: 15px;
}
.pullD{
	padding: 0px;
	/*background-color: white;*/
	margin-top: 30px;
	color: #00ab58;
	font-weight: bolder;
	font-size: 22px;
	border-radius: 50%;
	text-align: center;
}
.pullD>a{
	color: white;
}
.pullD>span{
	margin: 0px auto;
}
.pullD{
	transition: fade-out
}
.whiteBoard{
	background-color: #fff;
	padding-top: 60px;
}
.quote{
	font-size: 26px;
	text-align: center;
	color: #000;
	background-color: white;
	padding: 50px 0px;
	font-weight: bolder;
	padding-top: 60px;
}
.quote p{
	margin:0px;
}
.boxer{
	background-color: transparent;
	height: auto;
	width: 100%;
	padding: 0px;
	margin: 0px auto;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	align-self: center;
	padding-bottom: 30px;
}
.boxer>.t-btn{
	background-color: white;
}
.b1{
	margin: 0px auto;
	text-align: center;
}
.innerBox{
	display: inline-flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	align-self: center;
	padding: 0px;
	padding-top: 10px;
}
.circ{
	background-color: grey;
	height: 150px;
	width: 150px;
	border-radius: 50%;
	margin: 0px auto;
	box-shadow: 5px 5px;
}
.b1>p>.btn{
	margin-top: 10px;
	/*background-color: rgb(230,230,230);*/
}
.b1>p>a{
	color: #00ab58;
}
.circles{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
.c01{
	position: absolute;
	top: 20vh;
	left: 10vh;
	height: 500px;
	width: 500px;
	border-radius: 50%;
	background-color: #00ab58;
}
.c02{
	position: absolute;
	top:30vh;
	left: 90vh;
	height: 300px;
	width: 300px;
	border-radius: 50%;
	background-color: #00ab58;
}
.aboutUs{
	min-height: 100vh;
	padding: 30px;
	background-color: white;
	padding-bottom: 60px; 
	display: inline-flex;
	flex-direction:row;
	justify-content: center;
	align-items: center;
	margin: 0px auto;
}
.aboutUs>.container{
	padding-top: 60px;
	background-color: transparent;
}
.img_about{
	width: 100%;
	height: 100%;
	border:5px solid grey;
}
.about_text{
	text-align: right;
}
.g-lineDiv{
	width: 100%;
	height: 20px;
	margin-bottom: 10px;
}
.g-line{
	float: right;
	border-radius: 100px;
	width: 100px;
	background-color: #00ab58;
	height:7px;
	margin: 0px;
}
.about_text>h2{
	margin-top: 0px;
	margin-bottom: 20px; 
	display: block;
	font-size: 24px;
}
.about_text>p{
	font-size: 16px;
	margin-bottom: 20px;
	font-family: "Ubuntu", sans-serif;
	letter-spacing: 1.5px;
	/*font-size: 18px;*/
}
.t-btn{
	border-color: black;
	background-color: white;
	color: #00ab58;
	transition: 0.5s;
	/*padding: 10px;*/
}
/*.t-btn>a{
	text-decoration: none;
	color: #00ab58;
	padding: 10px 16px;
}
.btn .btn-lg .t-btn{
	padding: 0px;
}*/
/*.t-btn>a:hover{
	color: white;
}*/
.t-btn:hover{
	background-color: #00ab58;
	color: white;
}
.cUs-banner{
	/*background-color: #212121;*/
	color: white;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image: url(blurr.jpeg);
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	background-attachment: fixed;
	padding: 0px;
}
.cUs-banner>.container{
	min-height: 180px;
	margin:0px auto;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: rgba(33,33,33,0.4);
	width: 100%;
}
.cbtn{
	border-right: 1px solid white;
	padding: 20px;
	padding-right: 3vw;
}
.cbtn>h2{
	padding: 0px;
	margin:10px;
	font-weight: 100;
	letter-spacing: 2px;
}
.ctext>p{
	margin: 0px;
	font-size: 22px;
}
.cUs-banner>.container>div{
	margin: 0px 3vw;
}
.serv{
	padding: 60px;
	background-color: white;
	padding-bottom: 60px;
	min-height: 100vh;
	display: inline-flex;
	flex-direction:row;
	justify-content: center;
	align-items: center;
	margin: 0px auto;
}
.serv>.container{
	padding-top: 30px;
}
.serv_text{
	text-align: left;
}
.serv-text>.g-lineDiv{
	width: 100%;
	height: 20px;
	margin-bottom: 10px;
}
.serv_text>.g-lineDiv>.g-line{
	float: none;
	border-radius: 100px;
	width: 100px;
	background-color: #00ab58;
	height:7px;
	margin: 0px;
}
.serv_text>h2{
	margin-top: 0px;
	margin-bottom: 20px; 
	display: block;
	font-size: 24px;
}
.serv_text>p{
	margin-bottom: 20px;
	font-family: "Ubuntu", sans-serif;
	letter-spacing: 1.5px;
	font-size: 16px;
}
.foot{
	min-height: 60vh;
	background-color: #212121;
	color: white;
	padding-top: 30px;
	width: 120%;
	border-radius: -30%;
	bottom: 0;
	left: -10%;
}
.foot>.footBox{
	min-height: 60vh;
	width: 100%;
	padding: 30vh;
	padding-top: 15vh;
	transform: rotate(3deg);
	overflow: hidden;
	position: absolute;
	top: -12vh;
	background-color: #212121;
}
.footBox>.socio{
	transform: rotate(-3deg);
	display: none;
}
.trans-foot{
	color: white;
	min-height: 50vh;
	bottom: 58vh;
	left: 0px;
	padding:30px;
	z-index: 99;
	margin: 0px auto;
}
.socio-list{
	list-style: none;
	margin: 0px auto;
}
.socio-list>li{
	display: inline-block;
	margin: 0px 3vw;
}
.foot>.footBox>.socio>.socio-list>li{
	display: inline-block;
	margin: 5vw;
}
.socio-list>li>a>i{
	text-decoration: none;
	color: white;
	padding:10px;
}
.foot-img>img{
	height: 80px;
	width: 160px;
}
.footBox>.foot-img>img{
	margin: 0px auto;
}
.foot-menu{
	list-style: none;
	/*margin: 2vh auto;*/
	text-align:right;
}
#foot>.footBox>.fm>.foot-menu{
	text-align: center;
}
.foot-menu>li{
	display: inline-block;
	margin:0px 2vw;
}
.footBox>.fm>.foot-menu>li{
	display: block;
	text-align: center;
	margin: 6vh 0px;
}
.foot-menu>li>a{
	text-decoration: none;
	color: white;
}
.fm{
	display: none;
}
#foot>.footBox>.foot-img{
	display: none;
}
.touch{
	margin: 30px 0px;
	/*color: #00ab58;*/
}
.touch>p{
	font-size: 16px;
	letter-spacing: 2px;
	font-weight: 100;
}
.socio>.socio-list>li>a>i:hover{
	color: #00ab58;
	border:0.9px solid #00ab58;
	padding: 9px;
	border-radius: 5px;
}
.foot-menu>li>a:hover{
	color: #00ab58;
}
.touch>hr{
	background-color: #00ab58;
    border: 1px;
    height: 2px;
}
.touch>h2{
	font-weight: 100;
	letter-spacing: 2px;
}
.touch>a>i{
	text-decoration: none;
	color: white;
}
/*.trans-foot>.socio>.socio-list>li{
	text-align: left;
}*/


/*===========================
 About Us page styles 
 ==========================*/
.abs{
	background-color: white;
	/*height: 100%;*/
}
/*.logo_img{
	height: 60px;
	width: 100px;
}*/
.min-head{
	width: 100%;
	position: fixed;
	height: auto;
	z-index: 100;
}
.min-head>.container{
	margin:0px auto;
	padding:0px;
	background-color: #00ab58;
	width: 100%;
}
.navbar.myheader{
	transition: 0.3s;
}
.nav.navbar-nav.navbar-right{
	transition: 0.3s;
}
.logo_img{
	transition: 0.3s;
}
.navbar.myheader.rem{
	margin-bottom: 0px;
	transition: 0.5s;
}
.nav.navbar-nav.navbar-right.desc{
	padding: 10px 0px;
	transition: 0.5s;
}
.logo_img.shrink{
	height: 50px;
	width: 95px;
	transition: 0.5s;
}
.nav.navbar-nav.navbar-right.desc>li>a{
	margin: 15px;
}
.abt-full{
	background-color: transparent;
	width: 100%;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	margin-top: 13vh;
	margin-bottom: 10vh;
	z-index: 1;
	/*background-image: url(blurr.jpeg);
	background-position: left;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;*/
}
.abt-full>.container{
	/*color: white;*/
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0px auto;
}
.abt-full>.container>.mState>.mh1{
	text-align: center;
	font-size: 42px;
	/*font-family: 'Ubuntu', sans-serif;*/
	font-family: 'Caveat', cursive;
}
.abt-full>.container>.mState>p{
	font-size: 18px;
	font-family: 'Ubuntu', sans-serif;
	text-align:center;
}
.abt-full>.container>.abt>.mh1{
	text-align: center;
	font-size: 30px;
	font-family: 'Ubuntu', sans-serif;
}
.abt-full>.container>.abt>p{
	font-size: 18px;
	text-align: justify;
	font-family: 'Ubuntu', sans-serif;
	/*column-count: 3;*/
}
.abt-full>.container>.mState{
	margin: 40px auto;
}
.abt-des{
	position: absolute;
	z-index: -1;
	background-color: white;
	height: 100%;
	width: 100%;
	overflow: hidden;
	min-height: 100vh;
	margin-top: 15vh;
}
.d1{
	height: 80vh;
	width: 80vh;
	background-color: #00ab58;
	border-radius: 50%;
	position: fixed;
	right: -10vh;
	top: 30vh;
}
.d2{
	height: 75vh;
	width: 75vh;
	background-color: white;
	border-radius: 50%;
	position: fixed;
	right: -10vh;
	top: 30vh;
	/*background-image: url(blurr.jpeg);
	background-position: unset;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;*/
}

/*=============================
	Services page style
=============================*/
.servicePage{
	/*min-height: 100vh;*/
	background-color: white;
	/*padding: 30px;*/
}
.serv-full>.container>.abt>p{
	text-align: center;
}
/*.serv_cards{
	margin-top: 40px;
	background-color: transparent;
	height: auto;
	width: 100%;
	padding: 0px;
}
.serv_cards>.container{
	padding: 0px;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}
.card{
	height:450px;
	margin:10px;
	background-color: transparent;
	border:3px solid #001111;
}*/

.servicePage>.abt-des{
	overflow: scroll;
	/*background-color: #fffde7;*/
}
.servicePage>.abt-des>.d1{
	height: 80vh;
	width: 80vh;
	background-color: #00ab58;
	border-radius: 50%;
	position: fixed;
	right: -10vh;
	top: 40vh;
}
.servicePage>.abt-des>.d2{
	height: 75vh;
	width: 75vh;
	background-color: white;
	border-radius: 50%;
	position: fixed;
	right: -10vh;
	top: 40vh;
}
.servicePage>.serv-full>.container{
	padding: 30px;
}
.servBox>.container{
	align-items: center;
	text-align: center;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 0px;
}
.servBox>.container>.card{
	height: 200px;
	border:1px solid black;
	background-color: #009688;
	width: 200px;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding:5px;
	margin: 2vw;
	font-family: "Ubuntu", sans-serif;
	color: white;
	box-shadow: 0px 10px 10px 0px grey;
}


/*=============================
	Careers page style
=============================*/
.c-full{
	padding: 15vh 0px;
	min-height: 100vh;
	padd
}
.c-full>.container>.abt>p{
	text-align: center;
	letter-spacing: 1px;
}
.Obox{
	padding: 0px;
	padding-top: 40px;
	min-height: 100vh;
	display: inline-flex;
	flex-direction: column;
	align-items: center;
}
/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: rgba(0,0,0,0.3);
  color: #001111;
  cursor: pointer;
  padding: 18px;
  /*width: 100%;*/
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  margin: 3px 0px;
  transition: 0.5s;
  font-weight: bold;
  border-radius: 5px;
}
.collapsible:hover{
	background-color: rgba(0,0,0,0.8);
	color: #00ab58;
}
.collapsible:active{
	background-color: rgba(0,0,0,0.8);
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  /*background-color: #ccc;*/
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding:18px;
  display: none;
  overflow: hidden;
  background-color: rgba(0,0,0,0.5);
  text-align: justify;
  font-family: 'Ubuntu', sans-serif;
  color: white;
}
.collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #00ab58;
    float: right;
    margin-left: 5px;
}
.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}
.jDet{
	padding: 5px;
}
.jDet>table>tbody>tr>td{
	padding: 5px 5px;
}
.jDet>h3, p{
	padding: 0px 5px;
}
.jDet>p{
	text-align: justify;
}
.jDet>.ap-btn{
	display: inline-flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.jDet>.ap-btn>.t-btn{
	padding: 8px 16px;
}




@media screen and (max-width: 720px){
	body{
		min-height: 100vh;
	}
	p{
		text-align: justify;
	}
	.quote>p{
		text-align: center;
	}
	.abt-full>.container>.mState>p{
		text-align: justify;
	}
	#bs-example-navbar-collapse-1{
		height: 100vh;
		border:0px;
		background-color: rgba(0,0,0,1);
		position: absolute;
		top: 0px;
		z-index: 999;
		width: 100%;
		/*display: inline-flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;*/
	}
	.nav.navbar-nav.navbar-right{
		height: 100vh;
		width: 100%;
		display: inline-flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin: 0px auto;
	}
	.navbar-default .navbar-nav>li{
		text-align: center;
		padding-top: 3vh;
	}
	.navbar-header{
		border:0px;
	}
	.nav.navbar-nav.navbar-right.desc{
		padding:0px;
		/*transition: 0.5s;*/
	}
	.nav.navbar-nav.navbar-right.desc>li>a{
		margin: 25px;
	}
	.center_div{
		margin-top: 40vh;
	}
	.logo_img{
		height: 70px;
		width: 140px;
	}
	.boxer{
		background-color: white;
		height: auto;
		width: 100%;
		padding: 0px;
		margin: 0px auto;
		display: inline-flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		align-self: center;
		margin-top: -20px;
	}
	.b1{
		margin: 20px auto;
	}
	.innerBox{
		display: inline-flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		align-self: center;
		width: 100%;
	}
	.circ{
		height: 100px;
		width: 100px;
		border-radius: 50%;
		margin: 0px auto;
	}
	.aboutUs{
		padding: 10px;
	}
	.aboutUs>.container{
		padding: 0px;
	}
	.g-lineDiv{
		display: none;
	}
	.about_text{
		padding:20px 0px;
		text-align: center;
	}
	.serv{
		padding: 10px;
	}
	.serv>.container{
		padding: 0px;
	}
	.servBox>.container{
		display: inline-flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.g-lineDiv{
		display: none;
	}
	.serv_text{
		padding:20px 0px;
		text-align: center;
	}

	.navbar-default .navbar-nav>li{
		width: 100%;
	}
	.navbar-default .navbar-nav>li>.closeB{
		display: block;
	}
	.navbar-default .navbar-nav>li>.closeB.closeBt{
		text-align: right;
		font-size: 22px;
		font-weight: 100;
		padding-top: 0px;
		margin-top: 0px;
	}
	.navbar-default .navbar-nav>li>.closeBt{
		text-align: center;
	}
	.navbar-nav{
		padding-top: 0px;
	}
	.pullD{
		display: none;
	}


	.abt-full>.container>{
		height: 100%;
	}
	.abt-des{
		min-height: 100vh;
	}
	#abs{
		background-color: white;
	}
	.d1{
		height: 30vh;
		width: 60vh;
		background-color: #00ab58;
		/*border-radius: 50%;*/
		position: fixed;
		right: -20vh;
		top: 35vh;

	}
	.d2{
		height: 25vh;
		width: 55vh;
		background-color: white;
		/*border-radius: 50%;*/
		position: fixed;
		right: -20vh;
		top: 35vh;
	}
	.myheader{

	}
	.navbar-header>button{
		margin: 15px;
	}

	.foot{
		width: 100%;
		top: 0;
		left: 0;
		min-height: 100vh;
	}
	.foot>.footBox{
		transform: rotate(0deg);
		padding: 15px;
		width: 100%;
		top: 0;
		left: 0;
		min-height: 100vh;
		display: inline-flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

	}
	.foot>.footBox>p{
		transform: rotate(0deg);
		text-align: justify;
	}
	.trans-foot{
		display: none;
	}
	.footBox>.socio{
		display: block;
		transform: rotate(0deg);
		margin-top: 30px;
	}
	.socio-list{
		list-style: none;
		margin: 0px auto;
	}
	.socio-list>li{
		display: inline-block;
	}
	.fm{
		display: block;
	}
	#foot>.container{
		padding-top: 10vh;
	}
	#foot>.footBox>.foot-img{
		display: block;
	}
	.cUs-banner>.container{
		min-height: 180px;
		margin:0px auto;
		display: inline-flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}
	.cbtn{
		border-right: 0px;
		padding: 0px;
		margin: 0px;
	}
	.cbtn>h1{
		padding: 0px;
		margin:10px;
	}
	.ctext{
		margin: 0px;
	}
	.ctext>p{
		margin: 0px;
		font-size: 18px;
		text-align: center;
		padding: 0px;
	}
	.cUs-banner>.container>div{
		margin: 1vh 0px;
	}
	.cUs-banner>.container>.t-btn{
		width: 100%;
	}
}


/*@media screen and (max-width: 768px){
	.foot{
		min-height:100vh;
		width: 100%;
		position: relative;
		top: 0;
		left: 0;
	}
	.foot>.footBox{
		display: none;
	}
	.trans-foot{
		display: none;
	}
	.trans-foot>.container{
		width: 100%;
	}
}*/

@media screen and (max-width: 340px){
	.center_div{
		margin-top: 30vh;
	}
	.navbar-default .navbar-nav>li{
		text-align: center;
		padding-top: 2px;
	}
	.logo_img{
		height: 80px;
		width: 170px;
	}
	.boxer{
		background-color: white;
		height: auto;
		width: 100%;
		padding: 0px;
		margin: 0px auto;
		display: inline-flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		align-self: center;
		margin-top:-20px;
	}
	.b1{
	}
	.innerBox{
		display: inline-flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		align-self: center;
		width: 100%;
	}
	.navbar-nav{
		padding: 20px 5px;
	}
}